<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="{{ default.website }}"><img src="{{ default.logo}}" height="150" alt="Virtualitour"></a>
      </td>
    </tr>
  </table>
</div>
