---
layout: default.hbs
subject: Invitación para nuestra prueba BETA de Virtualitour.
---
<span class="preheader">Nos gustaria invitarte a que pruebes nuestro nuevo producto Virtualitour</span>
{{> emailHeader }}
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <h1>Invitación </h1>
            <p>
                Nos complace en invitarte a que pruebes nuestra plataforma Virtualitour. Virtualitour es una aplicación
                web que te permite crear tours virtuales de manera muy fácil, rápida y accesible con solo tu teléfono
                móvil. No hay necesidad de equipos costosos o especializados. Los tours virtuales ofrecen acceso sin
                precedentes a la propiedad que buscas, sin necesidad de dejar la comodidad de tu casa. Pueden atrapar
                la atención de posibles clientes alrededor del mundo con tan solo un click. En Virtualitour estamos
                seguros que su negocio se verá tremendamente beneficiado usando nuestra plataforma.
            </p>
            <h3>Ventajas</h3>
            <ul>
                <li>Fácil de manejar</li>
                <li>Compatible con cualquier dispositivo con conexión a internet</li>
                <li>Los primeros tours son GRATIS</li>
                <li>Puedes compartir los tours a través de redes sociales</li>
                <li>Puedes insertar los tours en tu página web</li>
                <li>Puedes experimentar los tours a través de realidad virtual</li>
                <li>Puedes utilizar tu teléfono móvil para crear los tours</li>
            </ul>
            <h3>¿Que te ofrecemos?</h3>
            <p>
                En la primera fase de la aplicación queremos recibir críticas y sugerencias de clientes que se
                beneficiarian con nuestra plataforma. Nuestros objetivos son crear una aplicación de alta calidad con la
                mejor experiencia para el usuario, gran compatibilidad entre distintos dispositivos y tener una mínima
                cantidad de errores antes de lanzar la aplicación al mercado. Ofreceremos los siguientes beneficios si
                aceptan formar parte de nuestros usuarios de prueba:

                <ul>
                    <li>Crear tours de manera gratuita</li>
                    <li>Agregar tu logo en tus tours</li>
                    <li>Comunicación de primera mano con el equipo de desarrollo para mejorar la aplicación</li>
                </ul>
            </p>
            {{> button type='primary' url='http://myvirtualitour.com' title='Comenzar' }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>{{> follow_lee }}</p>
      </td>
    </tr>
  </table>
</div>
