---
layout: default.hbs
subject: Invitation for our BETA Virtualitour testing
---
<span class="preheader">We will like to invite you to use our new product Virtualitour</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="{{ default.website }}"><img src="../src/img/logo.png" height="150" alt="Virtualitour"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <h1>Invitation</h1>
            <p>
                It our pleasure to invite you to our beta testing for virtualitour. We believe that your business will
                greatly benefit from using our platform. We have create an unique platform fron where you could create
                virtual tours in an easy, quick and afordable way just by using your mobile phone.
            </p>
            <h3>Advantages</h3>
            <ul>
                <li>Easy to use</li>
                <li>Multiplatform</li>
                <li>First tours for free</li>
                <li>Easily share through social networks</li>
                <li>Easily embed in your website</li>
                <li>Use of virtual reality</li>
                <li>No need for expensive equipment, you can just use your smartphone</li>
            </ul>
            <h3>What's in for you?</h3>
            <p>
                On the first phase of the application we want to get feedback of real customers that will benefit from
                our platform. Our objectives are to create a high quality application with great user experience,
                great compatibility with different devices and to minimize the number of bugs before release. We will
                offer the following benefits if you agree to form part of our beta test users:

                <ul>
                    <li>3 months for our standard plan for FREE</li>
                    <li>Ability to add you logo into your tour</li>
                    <li>First hand comunication with the developing team to improve the application</li>
                </ul>

            </p>
            {{> button type='primary' url='http://app.myvirtualitour.com' title='Start' }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>{{> follow_lee }}</p>
      </td>
    </tr>
  </table>
</div>
