---
layout: default.hbs
subject: Invitation for our BETA Virtualitour testing
---
{{> emailHeader }}
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <h1>Invitation</h1>
            <p>Dear Mrs. Popova,</p>
            <p>
                It our pleasure to invite you to our testing phase for virtualitour. Virtualitour is a web application
                that allows you to create virtual tours in a very easy, quick and affordable way just by using your phone.
                No need for special equipment or software.
                Virtual tours offers web visitors unparalleled access to your location or business without ever leaving
                your home. They can catch the attention of prospects all around the world with just a click of the mouse.
                We believe that your business could greatly benefit from using our platform.
            </p>
            <h3>Advantages</h3>
            <ul>
                <li>Easy to use</li>
                <li>Multiplatform</li>
                <li>First tours for FREE</li>
                <li>Easily share your tours through social media</li>
                <li>Embed tours in your own website</li>
                <li>Experience your tours in virtual reality</li>
                <li>Create tours with your smartphone</li>
            </ul>
            <h3>What's in for you?</h3>
            <p>
                On the first phase of the application we want to get feedback on real customers that will benefit from
                our platform. Our objectives are to create a high quality application with great user experience,
                great compatibility with different devices and a minimum number of bugs before release. We will
                offer the following benefits if you agree to form part of our beta test users:

                <ul>
                    <li>Create tours for FREE</li>
                    <li>Ability to add your logo into each one of your tours</li>
                    <li>First hand comunication with the developing team to improve the application</li>
                </ul>

            </p>
            {{> button type='primary' url='http://myvirtualitour.com' title='Start' }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>{{> follow_lee }}</p>
      </td>
    </tr>
  </table>
</div>
