---
layout: default.hbs
subject: Payment Failed
---
<span class="preheader">Payment failure</span>
{{> emailHeader }}
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
              {{> notice type='danger' text='Unfortunately, your payment has failed :(' }}
            <p>
                You can account has been downgrade to "starter", but don't worry, your tours are still available.
                Please verify that you payment information is correct and your account will be upgraded once the issue
                is resolve.
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>{{> follow_lee }}</p>
      </td>
    </tr>
  </table>
</div>
