---
layout: default.hbs
subject: Reset Password
---
<span class="preheader">Reset your password for virtualitour application</span>
{{> emailHeader }}

<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <h2>Forgot Your Password?</h2>
            <p>
                Can't remember your password? Don't worry we are here for you!
            </p>
            {{> button type='primary' url='{{=it.link}}' title='Reset Password' }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>{{> follow_lee }}</p>
      </td>
    </tr>
  </table>
</div>
