---
layout: default.hbs
subject: Subscription Update
---
<span class="preheader">You subscription has been updated</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="{{ default.website }}"><img src="../src/img/logo.png" height="150" alt="Virtualitour"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <h2>Subscription Updated<h2/>
            <p>
                Your subscription has been succesfully updated to <strong>{{'=typeSubscription'}}</strong>. Let us know if
                you have any questions.
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>{{> follow_lee }}</p>
      </td>
    </tr>
  </table>
</div>
